.modulesTopBanner {
	background: url('/img/package/blue-header.jpg');
	height: 130px;
	width: 100%;
	margin-top: 50px;
	color: #FFFFFF;
	padding-left: 12%;
	padding-top: 20px;
	font-weight: bold;
}
.modulesContent, .packageView {
	margin-left: 12%;
	width: 76%;
	padding-top: 20px;
}
.modulesTitle {
	color: #0086a4;
	font-size: 24px;
}
.packagesList tr {
	border-bottom: 1px solid #E1E1E1;	
	background-color: #FFFFFF;	
}
.packagesList th, .packagesList td {
	padding: 5px 10px;
}
.packagesList .name {
	text-transform: uppercase;
}
.packagesList .name a {
	color: #000000;
	text-decoration: none;
}
.price {
	color: #F68B01;
	text-transform: uppercase;
}
.consoleText {
	font-family: Monaco, Menlo, 'Ubuntu Mono', Consolas, source-code-pro, monospace;
	background-color: #FAF6F5;
	padding: 9px;
}
.author {
	color: #FF9001;
}
.packageView {
	margin-top: 20px;
	margin-bottom: 20px;
}
.packageView .info {
	background-color: #FFFFFF;
	padding: 20px;
	width: 650px;
	float: left;
}
.packageView .moreInfo {
	background-color: #FFFFFF;
	float: right;
	height: 240px;
	width: 240px;
	text-align: center;
	padding-top: 15px;
}
.packageView .moreInfo div {
	width: 45%;
	display: inline-block;
	margin-top: 20px
}